
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@*<div class="modal modal-xl fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary-d3" id="exampleModalLabel">
                    Modal title
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <div class="form-row">
                    <div class="col-md-3">
                        <select class="form-control">
                            <option value="value">Please select column</option>
                            <option value="value">Column 1</option>
                            <option value="value">Column 2</option>
                            <option value="value">Column 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select  class="form-control">
                            <option value="value">Please select column</option>
                            <option value="value">Greater than or equal to ab fds dsf</option>
                            <option value="value">Column 2</option>
                            <option value="value">Column 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="value" value="" />
                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option value="value">And</option>
                            <option value="value">Or</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" style="border-radius:50%"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-danger" style="border-radius:50%"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">
                    Close
                </button>

                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>*@


<div id="modal"></div>


<div class="page-content container container-plus">
    <div class="page-header">
        <h1 class="page-title text-primary-d2">
            Bootstrap Table
            <small class="page-info text-secondary-d2">
                <i class="fa fa-angle-double-right text-80"></i>
                extended tables plugin
            </small>
        </h1>
    </div>


    <div class="card bcard">
        <div class="card-header bgc-primary-d1 text-white border-0">
            <h4 class="text-120">
                <span class="text-90">
                    Results for
                </span>
                "Latest Products"
            </h4>
        </div>

        <div class="card-body p-0 border-x-1 border-b-1 brc-default-m4 radius-0 overflow-hidden">
            @*<div id="table-toolbar">
                    <button disabled id="remove-btn" class="btn btn-xs p-2 mr-2 bgc-white btn-lighter-red radius-3px">
                        <i class="fa fa-trash-alt text-125 mx-2px"></i>
                    </button>
                </div>*@

            <table class="table text-dark-m2 text-95 bgc-white ml-n1px" id="table">
                <!-- table -->
            </table>
        </div>
    </div>










    <div class="card bcard">
        <div class="card-header bgc-primary-d1 text-white border-0">
            <h4 class="text-120">
                <span class="text-90">
                    Results for
                </span>
                "Latest Products"
            </h4>
        </div>

        <div class="card-body p-0 border-x-1 border-b-1 brc-default-m4 radius-0 overflow-hidden">
            @*<div id="table-toolbar">
                    <button disabled id="remove-btn" class="btn btn-xs p-2 mr-2 bgc-white btn-lighter-red radius-3px">
                        <i class="fa fa-trash-alt text-125 mx-2px"></i>
                    </button>
                </div>*@

            <table class="table text-dark-m2 text-95 bgc-white ml-n1px" id="table1">
                <!-- table -->
            </table>
        </div>
    </div>





</div>

@section Scripts{
    <script src="/admin/dist/js/main.js"></script>
    <script>
        var options = {
            id:'table',
            pageSize: 10,
            tableId: 'table',
            toolbar: "#table-toolbar",
            url:`/Admin/Category/LoadData`,
            columns: [
                {
                    field: 'id',
                    title: 'Mã số danh mục',
                    sortable: true,
                    type:'string',
                },
                {
                    field: 'title',
                    title: 'Tên danh mục',
                    sortable: true,
                    type: 'string',
                },
                {
                    field: 'created',
                    title: 'Ngày tạo',
                    sortable: true,
                    type: 'datetime',
                },
                {
                    field: 'modified',
                    title: 'Ngày chỉnh sửa',
                    sortable: true,
                    type: 'datetime'
                },
                {
                    field: 'active',
                    title: 'Hoạt động',
                    sortable: true,
                    type: 'boolean',
                    formatter: function (value, row, index, field) {
                        let checked = value ? 'checked' : '';
                        return `<input disabled type="checkbox" ${checked} class="mr-1"  />`
                    }
                }
            ]
        };
        var dataGrid = new DataGrid(options);



        var options1 = {
            id: 'table1',
            pageSize: 10,
            tableId: 'table1',
            toolbar: "#table-toolbar",
            url: `/Admin/Category/LoadData`,
            columns: [
                {
                    field: 'id',
                    title: 'Mã số danh mục',
                    sortable: true,
                    type: 'string',
                },
                {
                    field: 'title',
                    title: 'Tên danh mục',
                    sortable: true,
                    type: 'string',
                },
                {
                    field: 'created',
                    title: 'Ngày tạo',
                    sortable: true,
                    type: 'datetime',
                },
                {
                    field: 'modified',
                    title: 'Ngày chỉnh sửa',
                    sortable: true,
                    type: 'datetime'
                },
                {
                    field: 'active',
                    title: 'Hoạt động',
                    sortable: true,
                    type: 'boolean',
                    formatter: function (value, row, index, field) {
                        let checked = value ? 'checked' : '';
                        return `<input disabled type="checkbox" ${checked} class="mr-1"  />`
                    }
                }
            ]
        };
        var dataGrid1 = new DataGrid(options1);

    </script>
}