@model string
    <div class="modal-header">
        <h4 class="modal-title">@Model</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>